body
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#element1
{
        display: inline-block;
}

#element2
{
    display: inline-block;
    vertical-align: top;
    margin-top: 90px;
    alignment: left;
    width: 25%;
}