<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Change meteo data for {{ city_name }}</title>
</head>
<body>
<p>Modify the data for {{ city_name }} as appropriate:</p>
<div class="container">
    <form name="meteoInput" action="" class="form-inline" method="post">
    <table>

            <tr>
                <td>Month</td>
                <td colspan="2" align="center">Average Temperature</td>
                <td colspan="2" align="center">Average Humidity</td>
            </tr>
            {% for month in months %}

                <tr>
                    <td>{{ month }}</td>

                    <td>
                         <input placeholder="20" class="form-control" name="temperature{{ loop.index0 }}"
                                value="{{ meteo[0][loop.index0]}}" type="range" min="-50.0" max="50.0" step="0.01"
                                oninput="temp_output{{ loop.index0 }}.value=this.value" >
                    </td>
                                        <td>
                        <output name="temp_output{{ loop.index0 }}">{{ '%0.2f' % meteo[0][loop.index0]|float }}</output>
                         <label> C</label>
                    </td>
                    <td>
                        <input placeholder="20" class="form-control" name="humidity{{ loop.index0 }}"
                               value="{{ meteo[1][loop.index0]}}" type="range" min="0" max="100"
                               oninput="hum_output{{ loop.index0 }}.value=this.value">
                    </td>
                    <td>
                        <output name="hum_output{{ loop.index0 }}">{{ meteo[1][loop.index0]}}</output>
                        <label> %</label>
                    </td>
                </tr>
            {% endfor %}

    </table>
    <input class="btn btn-default" type="submit" value="Save">
    </form>
     <p>{{ error }}</p>
	</div>

</body>
</html>
